#topBar {
	width: 100%;
	height: 30px;
	background: #F5F5F5;
    border-bottom: 1px solid #E0E0E0;
    position: relative;
    z-index: 100;
}

#leftBar {
	background-color: #EBEBEB;
	border-right: 1px solid #E0E0E0;
	position: absolute;
	top: 33px;
	width: 220px;
	z-index: 1000;
}

#mainBoard {
	background-color: #EBEBEB;
	position: relative;
	height: 900px;
}

#mainVsite {
	background-color: #EBEBEB;
	position: relative;
	height: 900px;
}


#drawBoard {
	background:#fff url("../img/grid.gif");
	border: 1px solid #CACACA;
	height: 800px;
	left: 303px;
	position: relative;
	top: 30px;
	width: 800px;
}

#leftBar .title{
	text-align: center;
	font-weight: bold;
}

#vpageLists {
	height: 300px;
}

#vpageShapeBox {
	border:#000 dashed 1px;
	width: 200px;
	height: 40px;
	position: fixed;
	z-index: 10000;
}

#vpageShapeBox.moveIn{
	border:#F7BB5B dashed 1px;
}

#topBar ol {
	float: left;
	height: 30px;
	line-height: 30px;
	margin: 0;
}

#topBar .leftBox {
	position: absolute;
	left: 10px;
}

#topBar .rightBox {
	position: absolute;
	right: 10px;
}

#operator {
	width : 150px;
	text-align: center;
	cursor: pointer;
}

#operations {
	width: 150px;
	text-align: center;
	background: #fff;
	z-index: 100;
	border-left: 1px solid #A3A2A1;
	border-right: 1px solid #A3A2A1;
	border-bottom: 1px solid #A3A2A1;
}

#operations li {
	list-style: none outside none;
}

#operations a {
	color: #727271;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
}