#topBar {
	width: 100%;
	height: 30px;
	background: #F5F5F5;
    border-bottom: 1px solid #E0E0E0;
    position: relative;
    z-index: 100;
}

#leftBox {
	background-color: #EBEBEB;
	border-right: 1px solid #E0E0E0;
	position: absolute;
	top: 33px;
	width: 188px;
	z-index: 1000;
	text-align: center;
}

#mainBox {
	background-color: #EBEBEB;
	position: relative;
	height: 600px;
	padding-left: 189px;
}

#mainBox .rightOpBtns{
	float: right;
	margin-right: 30px;
	position: relative;
	top: -32px;
}

#callHubList {
	text-align: center;
}

#callHubList li{
	width: 180px;
	height: 40px;
	margin:5px 0 0 2px;
	line-height: 40px;
	cursor: pointer;
}

#addCallHub {
	margin-top: 10px;
}

.callHub span{
	font-size: 14px;
	color: #fff;
}
.agentItem {
	padding-left: 8px;
	width: 150px;
	height: 50px;
	float: left;
	margin: 10px 0 0 10px;
}

.agentItem dt {
	margin-top: 2px;
}

#mainBox .header {
	height: 44px;
	padding-left: 20px;
	border-bottom: 1px solid #A8A4A4;
}

#navigation {
	height: 44px;
	line-height: 44px;
}

#navigation li{
	float: left;
	width: 120px;
	text-align: center;
	margin-right: 1px;
	cursor: default;
}

#navigation li:hover, #navigation li.selected{
	background: #C4C4C4;
	background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#9E9C9C));
    background: -moz-linear-gradient(top,  #EBEBEB,  #9E9C9C);
    color: #fff;
}

#popupAddAgent {
	position: relative;
	top: -2px;
}
