head
	title #{lang.pageTitle}
	meta(charset="utf-8")
	link(rel='stylesheet', type='text/css', href='/ui/css/gray/main.css')
	link(rel='stylesheet', type='text/css', href='/cms_modules_public/pageBoard/css/main.css')