!!! 5
html(lang="en")
	include ./header
	body
		#vpageShapeBox(hidden)
		#topBar
			.leftBox
			.rightBox
				ol
					select(id="vSiteSwitcher")
						option sdsd
						option(value="createNewSite") Create New Voice Site
						option(disabled) --------------------------
				ol
					#operator #{user.displayName}
					#operations(hidden)
						li
							a(href="/vsiteList") vsite List
						li 
							a(href="/login?command=doLogout") #{lang.logout}
		#leftBar
			.title voice pages
			#vpageLists
		#mainBoard
			#drawBoard
		#footer

	script(src='/ui/js/libs/raphael-2.1.0.min.js')
	script(src='/ui/js/libs/require-2.1.4.min.js', data-main="/cms_modules_public/pageBoard/js/main.js")